
* {
    box-sizing: border-box;
  }

h1 {
    color: #777;
    background: #ebebeb;
    padding: 30px;
    vertical-align: middle;
}

body {
    /* double quotes or single for two word fonts? */
    font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
    /* margin: auto; causes auto center when window moved? */
    /* line-height: 34px; why this in the body? different height in sections */
}

/* combined tags header, nav, section, aside, footer */
/* display: block; start on new line and take up full width! */
p {
    color: #777;
    background: #ebebeb;
    padding: 20px;
    /* does this do anything */
    vertical-align: middle;
}

header {
    background: #ebebeb;
    margin-bottom: 5px;
}

nav {
    background: #ebebeb;
    margin-top: 5px;
}

.midsection {
    /* is this equivalent to doing this in section and aside? */
    overflow: hidden;
}

section {
    /* height: 267px; why? shouldn't block be defined by content height and its border/padding? */
    /* overflow: hidden; not understanding it here; what are we hiding? */
    background: #ebebeb;
    width: 495px;
    padding-top: 20px;
    float: left;
}

article {
    color: #ebebeb;
    background: #777;
    /* vertical-align: top; this probably does nothing here anyway*/
    padding: 10px;
    /* differnt way of getting margin */
    margin: 10px 10px;
}

.smallbox {
    margin: 10px 10px;
}

aside {
    background: #ebebeb;
    padding-top: 20px;
    float: right;
    width: calc(98% - 495px); /*this is problably just as good */
    /* width: 40%; I think this was figured out based on 495/960 plus margins */
    /* height: 267px; now this and section are the same height but this is a guess */
    padding-bottom: 100%; 
    margin-bottom: -100%;
}

footer {
    background: #ebebeb;
    margin-top: 10px;    
}

.clearfix::after {
    /* looks like we only need clear */
    content: "";
    display: block;
    clear: both;
  }

  /* where does text-align go? in the div or the text tag? why both? */
  /* what about other attributes? why put in text tag if already in div? */